In [8]:
import pandas
from IPython.display import display

data = {'Name':['John', 'Anna', 'Peter', 'Linda'],
        'Location':['New York', 'Paris', 'Berlin', 'London'],
        'Age':[24,13,53,33]}

data_pandas = pandas.DataFrame(data)
display(data_pandas)

display(data_pandas[data_pandas.Age>30])

    Name  Location  Age
0   John  New York   24
1   Anna     Paris   13
2  Peter    Berlin   53
3  Linda    London   33

    Name Location  Age
2  Peter   Berlin   53
3  Linda   London   33